@model IEnumerable<ServiceClient.Models.CourseModel>
@{
    ViewBag.Title = "AllCourses";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h2>AllCourses</h2>

<div style="padding-left: 50px;width:650px">
    <table style="height: 300px; width: 650px; font-family: PacificoRegular">
        @{var counter = 1; }
        <tr style="padding-top: 20px">
            @foreach (var item in Model)
            {

                <td style="height: 100px; width: 200px; font-family: PacificoRegular">
                    @Html.DisplayFor(modelItem => item.CourseName)
              

                    <a href="@Url.Action("Enroll", "Course", new { CourseName = item.CourseName})">

                        <img src="@Url.Content(item.ImagePath)" style="border-width: 8px; border-color: #fff #fff transparent transparent; background: #fff; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; display: block; height:150px; width:200px" />
                    </a>

                    <br />
                    @Html.DisplayFor(modelItem => item.Description)
                    <br />

                </td>
                <td><br /><br /><br /></td>
                if (counter % 2 == 0)
                { @:</tr><tr><td><br /></td></tr><tr>
                }
                counter++;
            }
        </tr>
    </table>
</div>