@{
    ViewBag.Title = "GuestLectureVideos";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>GuestLectureVideos</h2>


<div style="padding-left: 50px;width:650px">
    <table style="height: 300px; width: 650px; font-family: PacificoRegular">
        <tr style="padding-top: 20px">

            <td style="height: 100px; width: 180px;">
                <iframe width="180" height="100" src="https://www.youtube.com/embed/RFinNxS5KN4" style="border-radius:7px 7px 7px 7px"></iframe>
            </td>
            <td style="height: 100px; width: 180px;">
                <iframe width="180" height="100" src="https://www.youtube.com/embed/RFinNxS5KN4" style="border-radius:7px 7px 7px 7px"></iframe>
            </td>
            <td style="height: 100px; width: 180px;">
                <iframe width="180" height="100" src="https://www.youtube.com/embed/RFinNxS5KN4" style="border-radius:7px 7px 7px 7px"></iframe>
            </td>
        </tr>
        <tr><td><br /><br /></td></tr>
        <tr style="padding-top: 20px">

            <td style="height: 100px; width: 180px;">
                <iframe width="180" height="100" src="https://www.youtube.com/embed/RFinNxS5KN4" style="border-radius:7px 7px 7px 7px"></iframe>
            </td>
            <td style="height: 100px; width: 180px;">
                <iframe width="180" height="100" src="https://www.youtube.com/embed/RFinNxS5KN4" style="border-radius:7px 7px 7px 7px"></iframe>
            </td>
            <td style="height: 100px; width: 180px;">
                <iframe width="180" height="100" src="https://www.youtube.com/embed/RFinNxS5KN4" style="border-radius:7px 7px 7px 7px"></iframe>
            </td>
        </tr>
    </table>
</div>    