@model IEnumerable<ServiceClient.Models.VideoModel>

@{
    ViewBag.Title = "SpecificCourseVideos";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h2>Tutorial</h2>

<div style="padding-left: 50px;width:650px">
    <table style="height: 300px; width: 650px; font-family: PacificoRegular">
        @{var counter = 1; }
        <tr style="padding-top: 20px">
            @foreach (var item in Model)
            {
                <td style="height: 100px; width: 200px;">
                    @Html.DisplayFor(model => item.VideoName)
                    <br /><br />
                    @*Create video showcase page*@
                    <video width="250" height="200" poster="@Url.Content(item.Poster)" style="border-radius:5px 5px 5px 5px" controls>
                        <source src="@Url.Content(item.Path)" style="border-width: 8px;border-radius: 5px 5px 5px 5px" type="video/mp4" />
                    </video>


                    <br />
                    @*@Html.ActionLink("Download", "CourseVideoDownload", new { videopath = item.Path, title = item.VideoName })*@
                </td>
                <td><br /><br /></td>
                if (counter % 2 == 0)
                {
                    @:</tr><tr><td><br /></td></tr><tr>
                }
                counter++;
            }
        </tr>
    </table>
</div>

